<div class="row">
    <div class="col-lg-12">
        <p>
            This is an interview study which will take approximately 45 minutes to complete,
            in which we will ask you to respond to several examples of hypothetical "future apps"
            that might be made to help you protect your privacy in the future. 
        </p>
        <p>
            If you volunteer and you will be asked to fill in a simple demographic questionnaire
            online, and then to chat with one of the researchers above either in person or over 
            Skype about the apps we will describe to you.  If you complete the study we will 
            gladly reimburse you an amazon.co.uk gift certificate worth £10 for your time.
        </p>
        <p>
            This study is <u>purely anonymous</u> and no personally identifying information
            will be asked for, nor kept about you.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1> study eligibility </h1>
        <p>
            To determine your eligibility, please answer the following prescreening questions:
        </p>
        <ul>
            <li class="question">Are you over 18? - 
                <div class="responses">
                    <div class=""><input type="radio" name="over18" value="yes" ng-model="qualify.over18"> - yes <span class="glyphicon glyphicon-ok" ng-if="qualify.over18=='yes'"></span></div>
                    <div class=""><input type="radio" name="over18" value="no" ng-model="qualify.over18"> - no <span class="glyphicon glyphicon-remove" ng-if="qualify.over18=='no'"></span></div>
                </div>
            </li>
            <li class="question">
                Did you review &amp; understand the <a href="https://docs.google.com/document/d/1G42LS6STIY-4QuRcn8ZU-6vJbduqe_dVYvRU_cWjFfQ/pub" target="_blank">participant information sheet</a>?
                <div class="responses">
                    <div class=""><input type="radio" name="consent" value="yes" ng-model="qualify.consent"> - yes <span class="glyphicon glyphicon-ok" ng-if="qualify.consent=='yes'"></span></div>
                    <div class=""><input type="radio" name="consent" value="no" ng-model="qualify.consent"> - no <span class="glyphicon glyphicon-remove" ng-if="qualify.consent=='no'"></span></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-show='true || assessed && qualify_result' class="row">
    <div class="col-lg-12">

        <h2>You qualify!</h2>
        <p>
            To continue, answer the following questions:
        </p>

        <div class="question">
            <h4>your email:</h4>
            <p>
                Your email will only be used to schedule your appointment and will kept separate from
                your participant identifier to keep your data anonymous.  Your e-mail will be deleted
                immediately after your interview.
            </p>
            <div>
                <input id="email" name="email" type="text" ng-model="signup.email">
                <div class="emailSuggestion" ng-if="signup.email.length > 0 && !emailValid"> That doesn't quite look like an e-mail address - try again? </div>
            </div>
        </div>

        <div class="question">
            <h4>your preferred interview location:</h4>
            <p>
                Interviews can be conducted on site at the University of Oxford, or University of Edinburgh during 
                dates depending on researcher availability, or more flexibly remotely via Skype/Web video chat and
                should take around 30 mins to complete.
            </p>
            <ul>
                <li><input type="radio" name="interviewpref" ng-model='signup.interviewpref' value="edinburgh"> University of Edinburgh (Informatics)</li>
                <li><input type="radio" name="interviewpref" ng-model='signup.interviewpref' value="oxford"> University of Oxford (CS) (August 23-Sept 5 only)</li>
                <li><input type="radio" name="interviewpref" ng-model='signup.interviewpref' value="skype"> Skype/Web video chat</li>
            </ul>
        </div>

        <div class="question">
            <h4>your preferred interview date(s)</h4>
            <h6>(please be as flexible as possible!)</h6>
            <div class="dates" ng-repeat='m in months'>
                {{ m.name }}:
                <li ng-repeat="d in m.dates"> 
                    <input name="dates" value="{{ d2val(d) }}" type="checkbox" ng-model="signup.dates[d2val(d)]"> - {{ d2str(d) }}                         
                </li>                        
            </div>    
        </div>

    </div> <!-- lg -->
    <div class="question col-lg-12">
        <h4>press submit to get your participant ID</h4>
        <button class="btn btn-default" ng-disabled="!valid || submitted" ng-click="submit()">Submit ></button>
        <div ng-if='submitError' ng-bind='submitError' class='bg-danger'></div>
    </div>
</div> <!-- form -->

<div ng-if='assessed && !qualify_result'>
    <h1>Sorry, but thanks for your interest!</h1>
    <p>
        I'm sorry but we cannot select you for this study.
        Please feel free to contact the researchers if you
        have any questions.
    </p>
</div>
</div>
