<div class='intro'>
    <div class="about">
        <p>
            This is an interview study which will take approximately 45 minutes to complete,
            in which we will ask you to respond to several examples of hypothetical "future apps"
            that might be made to help you protect your privacy in the future. 
        </p>
        <p>
            If you volunteer and you will be asked to fill in a simple (10 min) 
            demographic questionnaire online. Based on responses to the questionnaire, 
            we will select 15 participants to follow up for a 30-45 min chat, either in 
            person or over Skype about the hypothetical apps we are designing.  
        </p>
        <p>
            If you are selected and complete the interview, you will be given an Amazon gift certificate of £10 for your time. For those who are not selected for interview, we will enter your participant IDs into a raffle for 3 amazon gift certificates (valued each £10) for completing the online questionnaire.
        </p>
        <p>
            This study collection is <u>purely anonymous</u> and no personally identifying information will kept about you.  (For scheduling purposes, an e-mail address will
            be asked for below; this e-mail will be kept separate from your data and destroyed after the interview).
        </p>
    </div>
</div>
<div>
    <div>
        <h1> study eligibility </h1>
        <p>
            To determine your eligibility, please answer the following prescreening questions:
        </p>
        <ul>
            <li class="question">Are you over 18? - 
                <div class="responses">
                    <div class=""><input type="radio" name="over18" value="yes" ng-model="qualify.over18"> - yes <span class="glyphicon glyphicon-ok" ng-if="qualify.over18=='yes'"></span></div>
                    <div class=""><input type="radio" name="over18" value="no" ng-model="qualify.over18"> - no <span class="glyphicon glyphicon-remove" ng-if="qualify.over18=='no'"></span></div>
                </div>
            </li>
            <li class="question">
                Did you review &amp; understand the <a href="https://docs.google.com/document/d/1G42LS6STIY-4QuRcn8ZU-6vJbduqe_dVYvRU_cWjFfQ/pub" target="_blank">participant information sheet</a>?
                <div class="responses">
                    <div class=""><input type="radio" name="consent" value="yes" ng-model="qualify.consent"> - yes <span class="glyphicon glyphicon-ok" ng-if="qualify.consent=='yes'"></span></div>
                    <div class=""><input type="radio" name="consent" value="no" ng-model="qualify.consent"> - no <span class="glyphicon glyphicon-remove" ng-if="qualify.consent=='no'"></span></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-show='assessed && qualify_result' >
    <div >

        <h2>You qualify!</h2>
        <p>
            To continue, answer the following questions:
        </p>

        <div class="question">
            <h4>your email:</h4>
            <p>
                Your email will only be used to schedule your appointment and will kept separate from
                your participant identifier to keep your data anonymous.  Your e-mail will be deleted
                immediately after your interview.
            </p>
            <div>
                <input id="email" name="email" type="text" ng-model="signup.email">
                <div class="emailSuggestion" ng-if="signup.email.length > 0 && !emailValid"> That doesn't quite look like an e-mail address - try again? </div>
            </div>
        </div>

        <div class="question">
            <h4>your preferred interview location:</h4>
            <p>
                Interviews can be conducted on site at the University of Oxford, or University of Edinburgh during on dates spanning 1 August and 5 September depending on researcher availability, or more flexibly remotely via Skype/Web video chat and should take around 30-45 mins to complete.
            </p>
            <ul>
                <li><input type="radio" name="interviewpref" ng-model='signup.interviewpref' value="soton"> University of Southampton (Highfield Campus, Building 32)</li>
                <li><input type="radio" name="interviewpref" ng-model='signup.interviewpref' value="edinburgh"> University of Edinburgh (Informatics)</li>
                <!--<li><input type="radio" name="interviewpref" ng-model='signup.interviewpref' value="oxford"> University of Oxford (CS) (August 23-Sept 5 only)</li>-->
                <li><input type="radio" name="interviewpref" ng-model='signup.interviewpref' value="skype"> Skype/Web video chat</li>
            </ul>
        </div>

        <div class="question">
            <h4>your preferred interview date(s)</h4>
            <div class="dates" ng-repeat='m in months'>
                {{ m.name }}:
                <li ng-repeat="d in m.dates"> 
                    <input name="dates" value="{{ d2val(d) }}" type="checkbox" ng-model="signup.dates[d2val(d)]"> - {{ d2str(d) }}  <span class="glyphicon glyphicon-ok" ng-if="signup.dates[d2val(d)]"></span>                       
                </li>                        
            </div>    
        </div>

    </div> <!-- lg -->
    <div ng-if="!validEmail" class="bg-danger">
        (please provide a valid email address above.)
    </div>
    <div ng-if="!validPref" class="bg-danger">
        (please choose an interview location preference above.)
    </div>
    <div ng-if="remainingDates > 0" class="bg-danger">
        (please choose at least <span class="pink">{{ remainingDates }}</span> more dates above.)
    </div>
    <div class="question">
        <h4 ng-if="valid" class="bg-success">Press Submit to continue &gt;</h4>
        <button class="btn btn-default" ng-disabled="!valid || submitted" ng-click="submit()">Submit ></button>
        <div ng-if='submitError' ng-bind='submitError' class='bg-danger'></div>
    </div>
</div> <!-- form -->

<div ng-if='assessed && !qualify_result'>
    <h1>Sorry, but thanks for your interest!</h1>
    <p>
        I'm sorry but we cannot select you for this study.
        Please feel free to contact the researchers if you
        have any questions.
    </p>
</div>
</div>
