<div>
	<div>
		<h2>Online Questionnaire</h2>

		<p> 
			Participant ID: <b ng-bind="pId"></b> 
		</p>

		<p>
			The first part of this study is the following online questionnaire. 
			You may complete it now or come back to this web page later.  This
			is your own personal copy of the questionnaire so please do not share
			it with others.
		</p> 
		<p>
			It should take approximately 10 minutes. If you have any comments about any 
			of your answers to any of the questions feel free to add the comments 
			at the bottom.
		</p>
		<ol class="questionnaire">
			<li class="question">
				<div class="text">What is your gender?</div>
				<div class="responses">
					<div><input ng-model="responses.gender" type="radio" name="gender" value="female"> Female</div>            
					<div><input ng-model="responses.gender" type="radio" name="gender" value="male"> Male</div>
					<div><input ng-model="responses.gender" type="radio" name="gender" value="other"> Other</div>
				</div>
			</li>
			<li class="question">
				<div class="text">What is your age range?</div>
				<div class="responses">
					<div><input ng-model="responses.age" type="radio" name="age" value="18-21"> 18-21</div>  
					<div><input ng-model="responses.age" type="radio" name="age" value="22-30"> 22-30</div>
					<div><input ng-model="responses.age" type="radio" name="age" value="31-50"> 31-50</div>
					<div><input ng-model="responses.age" type="radio" name="age" value="51-65"> 51-65</div>
					<div><input ng-model="responses.age" type="radio" name="age" value="66+"> 66+</div>
				</div>
			</li>
			<li class="question">
				<div class="text">What is your current employment status?</div>
				<div class="responses">
					<div><input ng-model="responses.employment" type="radio" name="employment" value="fulltime"> full-time employed</div>  
					<div><input ng-model="responses.employment" type="radio" name="employment" value="parttime"> part-time employed</div>
					<div><input ng-model="responses.employment" type="radio" name="employment" value="student"> student</div>
					<div><input ng-model="responses.employment" type="radio" name="employment" value="freelance"> freelance</div>
					<div><input ng-model="responses.employment" type="radio" name="employment" value="retired"> retired</div>
					<div><input ng-model="responses.employment" type="radio" name="employment" value="unemployed"> unemployed</div>
					<div><input ng-model="responses.employment" type="radio" name="employment" value="other"> other</div>
				</div>
			</li>
			<li class="question" ng-if='!responses.employment || responses.employment=="fulltime" || responses.employment=="parttime" || responses.employment=="freelance"'>
				<div class="text">If currently employed, how many hours do you spend online each day <b>for work</b>?</div>
				<div class="responses">
					<div><input ng-model="responses.workonline" type="radio" name="workonline" value="<1"> less than or about an 1 hour</div>  
					<div><input ng-model="responses.workonline" type="radio" name="workonline" value="2-4"> 2-4 hours</div>
					<div><input ng-model="responses.workonline" type="radio" name="workonline" value="5-8"> 5-8 hours</div>
					<div><input ng-model="responses.workonline" type="radio" name="workonline" value="8+"> more than 8 hours</div>
				</div>     
			</li>
			<li class="question">
				<div class="text">How many hours do you spend online each day <b>for fun/leisure</b>?</div>
				<div class="responses">
					<div><input ng-model="responses.leisureonline" type="radio" name="leisureonline" value="<1"> less than or about an hour</div>  
					<div><input ng-model="responses.leisureonline" type="radio" name="leisureonline" value="2-4"> 2-4 hours</div>
					<div><input ng-model="responses.leisureonline" type="radio" name="leisureonline" value="5-8"> 5-8 hours</div>
					<div><input ng-model="responses.leisureonline" type="radio" name="leisureonline" value="8+"> more than 8 hours</div>                    
				</div>     
			</li>
			<li class="question">
				<div class="text">How concerned are you about your privacy online?</div>
				<div class="responses">
					<div><input ng-model="responses.privconcern" type="radio" name="privconcern" value="notatall"> Not at all.</div>  
					<div><input ng-model="responses.privconcern" type="radio" name="privconcern" value="slightly"> Slightly. </div>  
					<div><input ng-model="responses.privconcern" type="radio" name="privconcern" value="fewtimesaweek"> Concerned, but it doesn't change my behaviour online . </div>  
					<div><input ng-model="responses.privconcern" type="radio" name="privconcern" value="everyday"> Concerned, and I actively try to preserve my privacy online. </div>  
					<div><input ng-model="responses.privconcern" type="radio" name="privconcern" value="severaladay"> Extremely concerned, and I actively try to preserve my behaviour both online and offline. </div>  
				</div>
			</li>
			<li class="question">
				<div class="text">How much do you agree with the following statement about yourself: "I am an honest person online"?</div>
				<div class="responses">
					<div><input ng-model="responses.honestonline" type="radio" name="honestonline" value="disstrong"> Disagree strongly. </div>  				
					<div><input ng-model="responses.honestonline" type="radio" name="honestonline" value="dis"> Disagree. </div>					
					<div><input ng-model="responses.honestonline" type="radio" name="honestonline" value="sometimes"> Sometimes. </div>  					
					<div><input ng-model="responses.honestonline" type="radio" name="honestonline" value="agree"> Agree. </div>  
					<div><input ng-model="responses.honestonline" type="radio" name="honestonline" value="agreestrong"> Agree strongly.</div>  
				</div>
			</li>
			<li class="question">
				<div class="text">How much do you agree with the following statement about yourself: "I am an honest person in real life"?</div>
				<div class="responses">
					<div><input ng-model="responses.honestoffline" type="radio" name="honestoffline" value="disstrong"> Disagree strongly. </div>  				
					<div><input ng-model="responses.honestoffline" type="radio" name="honestoffline" value="dis"> Disagree. </div>					
					<div><input ng-model="responses.honestoffline" type="radio" name="honestoffline" value="sometimes"> Sometimes. </div>  
					<div><input ng-model="responses.honestoffline" type="radio" name="honestoffline" value="agree"> Agree. </div>  
					<div><input ng-model="responses.honestoffline" type="radio" name="honestoffline" value="agreestrong"> Agree strongly.</div>  
				</div>
			</li>
			<li class="question" ng-if='!responses.employment || responses.employment=="fulltime" || responses.employment=="parttime" || responses.employment=="freelance"'>
				<div class="text">Do you keep your work/personal life separate online?</div>
				<div class="responses">
					<div><input ng-model="responses.workpers" type="radio" name="workpers" value="notatall"> Not at all.</div>  
					<div><input ng-model="responses.workpers" type="radio" name="workpers" value="slightly"> Somewhat. </div>  
					<div><input ng-model="responses.workpers" type="radio" name="workpers" value="yes">  Yes. </div>  
				</div>
			</li>
			<li class="question" ng-if='!responses.employment || responses.employment=="fulltime" || responses.employment=="parttime"'>
				<div class="text">How structured is your time is at work?</div>
				<div class="responses">
					<div><input ng-model="responses.structuredwork" type="radio" name="structuredwork" value="scheduled"> I keep a packed calendar schedule.</div>  
					<div><input ng-model="responses.structuredwork" type="radio" name="structuredwork" value="semiflex"> I work flexibly and use a calendar for a few fixed meetings/events.</div>
					<div><input ng-model="responses.structuredwork" type="radio" name="structuredwork" value="flexibly"> I go with the flow / work flexibly without a calendar.</div>
				</div>     
			</li>
			<li class="question" ng-if='!responses.employment || responses.employment=="fulltime" || responses.employment=="parttime"'>
				<div class="text">How busy is your average workday?</div>
				<div class="responses">
					<div><input ng-model="responses.busywork" type="radio" name="busywork" value="slow"> Slow.</div>  
					<div><input ng-model="responses.busywork" type="radio" name="busywork" value="avg"> Average.</div>
					<div><input ng-model="responses.busywork" type="radio" name="busywork" value="busy"> Busy.</div>
					<div><input ng-model="responses.busywork" type="radio" name="busywork" value="verybusy"> Very busy.</div>
					<div><input ng-model="responses.busywork" type="radio" name="busywork" value="variable"> Variable/bursty.</div>
				</div>     
			</li>
			<li class="question">
				<div class="text">How structured is your social life outside work?</div>
				<div class="responses">
					<div><input ng-model="responses.structuredsocial" type="radio" name="structuredsocial" value="structured"> I schedule my social time in advance.</div>  
					<div><input ng-model="responses.structuredsocial" type="radio" name="structuredsocial" value="semiflex"> I usually manage my social commitments flexibly, but pre-schedule some.</div>
					<div><input ng-model="responses.structuredsocial" type="radio" name="structuredsocial" value="flexible"> I go with the flow generally without scheduling.</div>
				</div>     
			</li>
			<li class="question">
				<div class="text">How busy is your <b>offline</b> social life (e.g. real-world friends, dates, relatives)?</div>
				<div class="responses">
					<div><input ng-model="responses.busyofflinesocial" type="radio" name="busyofflinesocial" value="slow"> Slow</div>  
					<div><input ng-model="responses.busyofflinesocial" type="radio" name="busyofflinesocial" value="avg"> Average.</div>
					<div><input ng-model="responses.busyofflinesocial" type="radio" name="busyofflinesocial" value="busy"> Busy.</div>
					<div><input ng-model="responses.busyofflinesocial" type="radio" name="busyofflinesocial" value="verybusy"> Very busy.</div>
					<div><input ng-model="responses.busyofflinesocial" type="radio" name="busyofflinesocial" value="variable"> Variable/bursty.</div>               
				</div>     
			</li>        
			<li class="question">
				<div class="text">How busy is your <b>online</b> social life (e.g. chatting/hanging out online)?</div>
				<div class="responses">
					<div><input ng-model="responses.busyonlinesocial" type="radio" name="busyonlinesocial" value="slow"> Slow.</div>  
					<div><input ng-model="responses.busyonlinesocial" type="radio" name="busyonlinesocial" value="avg"> Average.</div>
					<div><input ng-model="responses.busyonlinesocial" type="radio" name="busyonlinesocial" value="busy"> Busy.</div>
					<div><input ng-model="responses.busyonlinesocial" type="radio" name="busyonlinesocial" value="verybusy"> Very busy.</div>
					<div><input ng-model="responses.busyonlinesocial" type="radio" name="busyonlinesocial" value="variable"> Variable/bursty.</div>                
				</div>     
			</li>        
			<li class="question">
				<div class="text">How much do you use Twitter?</div>
				<div class="responses">
					<div><input ng-model="responses.usetwitter" type="radio" name="usetwitter" value="no"> No.</div>
					<div><input ng-model="responses.usetwitter" type="radio" name="usetwitter" value="some"> Occasionally.</div>
					<div><input ng-model="responses.usetwitter" type="radio" name="usetwitter" value="lots"> Yes, often.</div>                
				</div>     
			</li>
			<li class="question" ng-if="responses.usetwitter=='lots' || responses.usetwitter=='some'">
				<div class="text">If you use Twitter, what porportion of what you Tweet is about something you're doing offline? (e.g. where you are, what activities you're doing, who you're with, etc?)</div>
				<div class="responses">
					<div><input ng-model="responses.tweetoffline" type="radio" name="tweetoffline" value="none"> None.</div>  
					<div><input ng-model="responses.tweetoffline" type="radio" name="tweetoffline" value="some"> Yes, but rarely.</div>
					<div><input ng-model="responses.tweetoffline" type="radio" name="tweetoffline" value="half"> About 50%</div>
					<div><input ng-model="responses.tweetoffline" type="radio" name="tweetoffline" value="most"> Most</div>
					<div><input ng-model="responses.tweetoffline" type="radio" name="tweetoffline" value="all"> All</div>
				</div>     
			</li>
			<li class="question">
				<div class="text">Do you use Facebook, and if so how much?</div>
				<div class="responses">
					<div><input ng-model="responses.usefacebook" type="radio" name="usefacebook" value="no"> No.</div>				
					<div><input ng-model="responses.usefacebook" type="radio" name="usefacebook" value="onceinawhile"> Once in a while.</div>  
					<div><input ng-model="responses.usefacebook" type="radio" name="usefacebook" value="fewtimesaweek"> A few times a week.</div>  
					<div><input ng-model="responses.usefacebook" type="radio" name="usefacebook" value="everyday"> Every day.</div>  
					<div><input ng-model="responses.usefacebook" type="radio" name="usefacebook" value="severaladay"> Several times a day.</div>  
				</div>     
			</li>
			<li class="question" ng-if="responses.usefacebook=='lots' || responses.usefacebook=='some'">
				<div class="text">If you use Facebook, what porportion of your FB Status Updates are about something you're doing offline? (e.g. where you are, what activities you're doing, who you're with, etc?)</div>
				<div class="responses">
					<div><input ng-model="responses.fbstatusoffline" type="radio" name="fbstatusoffline" value="none"> None.</div>  
					<div><input ng-model="responses.fbstatusoffline" type="radio" name="fbstatusoffline" value="some"> Yes, but rarely.</div>
					<div><input ng-model="responses.fbstatusoffline" type="radio" name="fbstatusoffline" value="half"> About half.</div>
					<div><input ng-model="responses.fbstatusoffline" type="radio" name="fbstatusoffline" value="most"> Most.</div>
					<div><input ng-model="responses.fbstatusoffline" type="radio" name="fbstatusoffline" value="all"> All.</div>
				</div>     
			</li>
			<li class="question">
				<div class="text">Do you use Instagram, and if so how much?</div>
				<div class="responses">
					<div><input ng-model="responses.useinstagram" type="radio" name="useinstagram" value="no"> No.</div>  
					<div><input ng-model="responses.useinstagram" type="radio" name="useinstagram" value="onceinawhile"> Once in a while.</div>  
					<div><input ng-model="responses.useinstagram" type="radio" name="useinstagram" value="fewtimesaweek"> A few times a week.</div>  
					<div><input ng-model="responses.useinstagram" type="radio" name="useinstagram" value="everyday"> Every day.</div>  
					<div><input ng-model="responses.useinstagram" type="radio" name="useinstagram" value="severaladay"> Several times a day.</div>  
				</div>     
			</li>
			<li class="question">
				<div class="text">Do you use Foursquare, and if so how much?</div>
				<div class="responses">
					<div><input ng-model="responses.usefoursquare" type="radio" name="usefoursquare" value="no"> No.</div>  
					<div><input ng-model="responses.usefoursquare" type="radio" name="usefoursquare" value="onceinawhile"> Once in a while.</div>  
					<div><input ng-model="responses.usefoursquare" type="radio" name="usefoursquare" value="fewtimesaweek"> A few times a week.</div>  
					<div><input ng-model="responses.usefoursquare" type="radio" name="usefoursquare" value="everyday"> Every day.</div>  
					<div><input ng-model="responses.usefoursquare" type="radio" name="usefoursquare" value="severaladay"> Several times a day.</div>  
				</div>     
			</li>
			<li class="question">
				<div class="text">Do you use any of the following tools to track your movement/location?</div>
				<div class="responses">
					<div><input ng-model="responses.useqstools.gpsapp" type="checkbox" name="useqstools" > A GPS/position logging app on your smartphone</div>  
					<div><input ng-model="responses.useqstools.gpsdevice" type="checkbox" name="useqstools" > A GPS device</div>  
					<div><input ng-model="responses.useqstools.fitbit" type="checkbox" name="useqstools" > A FitBit </div>  
					<div><input ng-model="responses.useqstools.withings" type="checkbox" name="useqstools" > A Withings Activité </div>  
					<div><input ng-model="responses.useqstools.jawbone" type="checkbox" name="useqstools"> A Jawbone UP </div>  
					<div><input ng-model="responses.useqstools.androidwatch" type="checkbox" name="useqstools"> An Android Smartwatch </div>  
					<div><input ng-model="responses.useqstools.applewatch" type="checkbox" name="useqstools"> An Apple Watch </div>  
					<div><input ng-model="responses.useqstools.pebble" type="checkbox" name="useqstools"> A Pebble </div>  
					<div><input ng-model="responses.useqstools.msband" type="checkbox" name="useqstools"> A Microsoft Band </div>  
				</div>
			</li>

			<li class="question">
				<div class="text">Do you have any questions/comments about the above questions? Leave them below!</div>
				<textarea ng-model="responses.comments"></textarea>
			</li>			

			<h4>That's it! Hit Send below to send off the questionnaire</h4>
			<li>
				<button class="btn btn-info" ng-click="submit()">Submit answers</button>
				<div ng-if="error" class="alert alert-danger"  role="alert">
					Error transmitting results: <span ng-bind="error"></span>.
					Please check your Web connectivity and try again.
				</div>
			</li>
		</ol>    
		<hr>
	</div>
</div>