* { 
	box-sizing: border-box; 
	padding:0px; margin:0px;
	font-family:sans-serif;
	font-size:11pt;
}

// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

body, html {
	font-family:'Source Sans Pro';
	background-color:#222; 
}
.row {
	position:relative;
	background-color:white;
}
.head {
	margin-top:400px !important;
	background-color:white;
}
.col-lg-12 {
	padding:0px 30px 0 30px;
}
h1 {
	margin:30px 0px 10px 0px;
}
.banner {
	position:absolute;
	width:100%;
	top:0px; left:0px; right:0px; 
}
li { 
	margin-left:0px;
	list-style-type:none;
}

ul { padding-left:0px; }

.emailSuggestion {
	font-size:80%;
	color:red;
}

.question {
  margin:3px 0px;
  padding:20px 0px;
  border-bottom:10px solid #fefbfb;
  .text {
  	font-size:13pt;
  	font-weight:200;
  	margin:10px 0px;
  }
  .responses {
  	font-size:12pt;
  	font-weight:normal;
  	div { margin:3px 0px;}
  }
  textarea {
  	min-width:500px;
  }
}

p {
	margin:10px 0px;
}

.dates {
	display:inline-block;
	width:32%;
	vertical-align:top;
}